<footer class="site-footer h-card">
  <div class="wrapper">
    <center>
      <div style="max-width: calc(500px - (30px * 2));">
        <a rel="author" href="{{ "/" | relative_url }}">
          <img src="/assets/images/lamrs-logo-banner.png" alt="Los Angeles Model Railroad Society">
        </a>
      </div>
    </center>
    <br>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title_short_2 | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>


    <center>
      <h5>Copyright &copy; 1997-{{ 'now' | date: "%Y" }}, Los Angeles Model Railroad Society</h5>
    </center>

  </div>

</footer>
