---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <hr>
  <h2 class="post-list-heading">Donate</h2>

  <a href=https://www.paypal.com/ncp/payment/94DSYDAPAXPEE>Click here to Donate</a>
  <br><br>
  Your contributions are greatly appreciated. All donations are used for construction and operating
  expenses. Thank you.
  <hr>
  <h2 class="post-list-heading">News</h2>

  Watch this space for news about upcoming Los Angeles Model Railroad Society activities.

  {%- if site.posts.size > 0 -%}
    <hr>
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>

    The club will post updates on the progress of the new layout in this space. Tune in often to see what’s going on.
    <br><br>

    <ul class="post-list">
      {%- for post in site.posts limit: 1 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <h3>
          <a class="post-link red" href="{{ post.url | relative_url }}">
            {{ post.date | date: date_format | post.title | escape }}
          </a>
          <strong>{{ post.title }}</strong>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {% if post.content.size > post.excerpt.size %}
            <p><a href="{{ post.url }}">(more...)</a></p>
          {%- endif -%}
        {%- else -%}
          {{ post.content }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

    <div class="full-grey-box">
      <a href="/working-on-the-railroad" style=" color: white; font-weight: bold">Click here to view previous posts.</a>
    </div>
  {%- endif -%}

</div>
